frontend/src/folder-tree/src/n8n_chatbot.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "How can I assist you today?",
        "options": {
          "allowFileUploads": true,
          "allowedFilesMimeTypes": "*"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -320,
        600
      ],
      "id": "9a1d46c8-a396-4590-95e4-cf6b82eb11b2",
      "name": "When chat message received",
      "webhookId": "bfc9b5aa-0d19-4a86-9a4b-1ea6e72e9054"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        20,
        820
      ],
      "id": "d0089bfc-455a-477b-85ed-99c59254b38a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -100,
        1040
      ],
      "id": "64c5c6da-aba3-48a0-bffe-31b229e1c287",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "cnwVroV2xXRoG5ix",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        100,
        1040
      ],
      "id": "94031923-7c47-4bb4-ada6-2ae8c2f47b5d",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "F9LJawnzsaiYl92o",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "hackaton_knowledgebase",
        "toolDescription": "Vector store. Use to get context for questions.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        220,
        1040
      ],
      "id": "7e20a324-df89-4093-ae73-eb0318c59eea",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "KaKoGKQXEdcNJoa7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        1200
      ],
      "id": "0e84c7b0-ca8c-4340-896a-6e0479d18519",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "cnwVroV2xXRoG5ix",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        20,
        200
      ],
      "id": "ceef5885-bbc3-400d-923c-85065c780a1c",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "KaKoGKQXEdcNJoa7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        40,
        400
      ],
      "id": "a1761bf6-78bd-47ea-824c-0e19bb4cd797",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "cnwVroV2xXRoG5ix",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        240,
        400
      ],
      "id": "064908bc-703d-41ff-b890-3fc457b39f63",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        280,
        580
      ],
      "id": "36394431-161b-40e7-bc88-522b8f8b97d7",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        860,
        140
      ],
      "id": "8254d4cb-6742-44b4-9ef3-fc3b990ce226",
      "name": "Supabase Vector Store2",
      "credentials": {
        "supabaseApi": {
          "id": "KaKoGKQXEdcNJoa7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        700,
        420
      ],
      "id": "e96e90b2-069f-4add-ba5f-26fc81112f06",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "cnwVroV2xXRoG5ix",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "repository": "https://github.com/vtereshkov/xdpw",
        "branch": "master",
        "additionalOptions": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentGithubLoader",
      "typeVersion": 1,
      "position": [
        880,
        420
      ],
      "id": "d04fc30a-9f4c-4986-aaf8-53ff1ccc0f39",
      "name": "GitHub Document Loader",
      "credentials": {
        "githubApi": {
          "id": "FUWYzuamwhcg3jFj",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        980,
        640
      ],
      "id": "4977c035-33fd-47cf-8993-4db2db91eb3b",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {
        "toolDescription": "Tool to migrate a Delphi project to python.",
        "url": "http://ec2-52-90-95-78.compute-1.amazonaws.com/execute",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        580,
        1040
      ],
      "id": "604e28b9-df07-405a-b216-ef1ac0cbb241",
      "name": "MigrateDelphiToPython"
    },
    {
      "parameters": {
        "toolDescription": "This a Delphi expert AI",
        "method": "POST",
        "url": "http://ec2-52-90-95-78.compute-1.amazonaws.com/relay",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"{{ $json.chatInput }}\",\n  \"code\": \"\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        700,
        940
      ],
      "id": "e0b4a0e9-b854-442e-b08f-5ddeaa12e090",
      "name": "ExpertDelphiChat"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        640,
        140
      ],
      "id": "0709b440-5868-44d2-b691-92db9ca8ac83",
      "name": "When clicking ‘Test workflow’"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Document Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "GitHub Document Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "MigrateDelphiToPython": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ExpertDelphiChat": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2dfd0c88-fe27-496e-af93-acf0fe101b69",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "92bc0157411f381e456d61982627cbf4c936f2d14d30ce2f188c69f1f770189b"
  },
  "id": "9dOK8izkhiyaF4f6",
  "tags": []
}